
services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: draftchess
      POSTGRES_PASSWORD: draftchesspassword  # Change this to a secure password
      POSTGRES_DB: draftchessdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: